label[for="uploadFiles"] {
    width: 100%;
}

#DRAGZONE {
    height: 100px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

#DRAGZONE:hover i {
    color: #0d6efd;
}

#DRAGZONE i {
    pointer-events: none;
    user-select: none;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.drag__preview {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.preview__item {
    position: relative;
    width: 100px;
    /* flex-grow: 1; */
}


.fa-times {
    cursor: pointer;
}

.fa-times:hover {
    transform: scale(1.2);
}

.preview__item.preview__default > div:nth-last-child {
    overflow: hidden;
}


.preview__default {
    height: 75px;
    background-color: silver;
    font-weight: 500;
}


.preview__image {
    width: 100%;
}

.fa-times {
    z-index: 99999;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.fa-times:hover {
    color: rgb(155, 87, 87);
}

.upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.upload {
    background-color: #2470dc;
    border: none;
    transition: 0.25s;
    border-radius: 5px;
    color: white;
    font-weight: 400;

}

.upload:hover {
    background-color: rgb(19, 46, 183);
    transform: scale(1.2);
}

.navbar_mg {
    margin-bottom: 10px;
}

/*
.header__search {
    position: relative;
}

.header__search .fa-searchengin {
    position: absolute;
    left: 5px;
    top: 8px;
    font-size: 1.5em;
}

.header__search input {
    padding: 5px 0;
    outline: none;
    padding-left: 35px;
}

.header__result {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.d-none {
    display: none;
} */